body{
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}
.color-green{
    background-color: #4caf50;
}
.color-grey{
    background-color: #F5F5F5;
}
.text-purple{
    color: #605BA8;
}
.tablehead{
    background-color: #92EFB2;
    color: #605BA8;
}
.color-blue{
    background-color: #90CAEB;
}
.dishitem{
    background-color: #605BA8;
    color: rgb(255, 255, 255);
}

#order_section{
    width: 503px;

    height: -moz-calc(100% - 100px);
    height: -webkit-calc(100% - 100px);
    height: -o-calc(100% - 100px);
    height: calc(100% - 100px);
}

.bottombar{
    bottom: 0;
    vertical-align: baseline
}
#bottompaymtrow{
    background-color: #84DF98;
}
.btn-order{
    background-color: #F40000;
}
.btn-cancelorder{
    background-color: #00A55A
}
.menuitem{
    height: 280px;
    width: 175px;
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}
